WcfServiceTest/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceTest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfbuildingEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="buildingEntity" nillable="true" type="tns:buildingEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbuildingEntity" nillable="true" type="tns:ArrayOfbuildingEntity" />
  <xs:complexType name="buildingEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buildingID" type="xs:int" />
      <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buildingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="facultyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updated" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="buildingEntity" nillable="true" type="tns:buildingEntity" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>